body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    margin: 0;
    padding: 20px;
  }
  h1 {
    text-align: center;
    color: #333;
  }
  .catalogue {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 30px;
  }
  .carte {
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 15px;
  }
  .carte h2 {
    font-size: 18px;
    color: #222;
  }
  .carte p {
    font-size: 14px;
    color: #555;
  }
  .carte button {
    background: #d9534f;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
  }
  footer {
    margin-top: 40px;
    text-align: center;
    background: #333;
    color: white;
    padding: 10px;
    border-radius: 5px;
  }



  form {
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    width: 300px;
    margin: auto;
  }
  h2 {
    text-align: center;
    color: #333;
  }
  label {
    display: block;
    margin-top: 10px;
    color: #555;
  }
  input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  button {
    margin-top: 15px;
    width: 100%;
    background: #28a745;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  #ajoute{
      background-color: #28a745;
  }

  .carte #supprime:hover{
      background-color: #f15e5e;

  }
  
  .carte #ajoute:hover{
      background-color: #50ad66;

  }


  